.pageHeroSection{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageHero{
    background-image: url('https://s3-alpha-sig.figma.com/img/0abd/095c/294acd8a59edb9d0a61acf0b2a05d53e?Expires=1694995200&Signature=VOpAzPL-VDy9JSarH3X3cWbAMPNG87e3dFqtTBQAYWqAGlbvsKsY0AtvPQYv0lkzSMb4xo8LJtRNngV1Hg9KC25YicdUT2~dqWA7Mi700SgtZZRcI~e7NKAfvU11p5x5TK2~l2bP5IUNI9BlCdwxXYrHoautkcoX0H-UG-L8qiOzTtT7oaNFv2IG6YROPcuH5L-v5fUPyqVyttZki9NHxlscfVbq~HHHHCr-0sjP4tw7GmAuOi5oo4tlAIv8QjTtRCxUROrameIE1ejLTI0XBZWs7CFoMNAIm0p7dl~b6uwhZX~Na0-FSeuNXkgUnEVitdan7TsVC3rUpkgyZXEq1g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:90%;
    padding:0 14%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size:28px
}

.desc p{
    text-align: center !important;
}

.location{
    font-size: 13px;
}
.title{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.desc{
    font-size: 16px;
}

@media only screen and (max-width: 680px) {
    .desc{
        font-size: 14px;
    }
  }
@media only screen and (max-width: 480px) {
    .desc{
        display: none;
    }
  }