.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    /* background: red; */
}


.box{
    padding: 80px 60px;
    background: black;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}

.footerlink{
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
     
}
.footerlink:hover {
    color: green;
    transition: 200ms ease-in;
}

.heading{
    font-size: 24px;
    padding: 0;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
}

.row{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 
                           minmax(185px, 1fr));
    grid-gap: 20px;
}

.footerTop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}
.footerTopTitle{
    color: #fff;
}

.formItem{
    background-color: rgb(49, 48, 48);
    border: none;
    padding: 11px;
    border-radius: 5px;
    margin-right: 5px;
    color: #fff;
}

.formItem:focus{
    outline: none;
}
.submitBtn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(69, 140, 246);
    color: #fff;
}

@media (max-width: 1000px) {
    .box{
        padding: 70px 30px;
    }
    .row{
        grid-template-columns: repeat(auto-fill, 
        minmax(200px, 1fr));
    }
    .footerTop{
        flex-direction: column;
        gap: 10px;
    }
    .formItem{
        width: 300px;
    }
    .footerTopTitle{
        text-align: center;
    }
  }
@media (max-width: 570px) {
    .formItem{
        width: 250px;
    }
  }
@media (max-width: 420px) {
    .formItem{
        width: 155px;
    }
  }