.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    /* background: red; */
}
.box{
    padding: 80px 0px;
    background: rgb(29, 29, 29);
    color: #fff;
    width: 100%;
}
.pItem{
    margin: 0;
    padding: 0;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200px;
    margin: 3% 5%;
}

.footerlink{
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
     
}
.heading{
    font-size: 24px;
    padding: 0;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials{
    display: flex;
    gap: 16px;
}
.socialItem{
    border: 1px solid #b4b3b3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.socialFb:hover{
    background-color: rgb(2, 74, 194);
    border-color: rgb(2, 75, 194);
}
.socialInsta:hover{
    background: linear-gradient(#ff3131, #f5d018);
    border-color: linear-gradient(#ff3131, #f5d018);
}
.socialTw:hover{
    background-color: rgb(2, 117, 194);
    border-color: rgb(2, 117, 194);
}

@media (max-width: 1100px) {
    .row{
        flex-wrap: wrap;
    }
    .footerBottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
  }