.dealsOfTheMonth{
    display: flex;
    padding: 100px 110px;
}
.dealsRight,.dealsLeft{
    width: 50%;
}
.dealsLeft{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
.dealsRight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dealsImg{
    width: 80%;
    height: 530px;
    border-radius: 10px;
}

.dealsTime{
    display: flex;
    align-items: center;
    gap: 30px;
}
.dealsTimeNum{
    font-weight: bold;
    font-size: 23px;
}
.dealsTimeDay,.dealsTimeHour,.dealsTimeMinute,.dealsTimeSecond{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .5px solid rgb(172, 172, 172);
    border-radius: 10px;
    padding: 8px 20px;
}
.dealsInfo{
    margin: 0;
    padding: 0;
}

.dealsBtnWrapper{
    padding: 10px 0;
}
.dealsBtn{
    text-decoration: none;
    background-color: #131118;
    padding: 15px;
    width: 180px;
    border-radius: 10px;
    color: white;
    transition: .2s;

    &:hover{
        background-color: #2f2f30;
        transform: scale(.990);
    }
}
.dealsTitle{
    text-align: start !important;
}


@media only screen and (max-width: 1200px) {
    .dealsImg{
        height: 480px;
    }
    .dealsRight{
        justify-content: end;
    }
  }
@media only screen and (max-width: 1032px) {
    .dealsImg{
        height: 100%;
    }
    .dealsRight{
        justify-content: end;
    }
    .dealsTimeDay,.dealsTimeHour,.dealsTimeMinute,.dealsTimeSecond{
        padding: 6px 14px;
    }
    .dealsTimeNum{
        font-size: 19px;
    }
  }
@media only screen and (max-width: 916px) {
    .dealsImg{
        width: 100%;
        height: 100%;
    }
    .dealsLeft,.dealsRight{
        width: 80%;
    }
    .dealsOfTheMonth{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 60px 30px;
        gap: 30px;
    }
    .dealsBtn{
        font-size: 14px;
        width: 140px;
    }
  }
@media only screen and (max-width: 506px) {
    .dealsTime{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dealsTimeDay,.dealsTimeHour,.dealsTimeMinute,.dealsTimeSecond{
        width: 40%;
    }
    .dealsTitle{
        font-size: 30px;
    }
    .dealsInfo{
        font-size: 15px;
    }
    .dealsBtnWrapper{
        padding:0;
    }
  }