.menu{
    width:80%;
    position:sticky;
    top:0;
}
.menuWide{
    transition: .5s;
    width:100%;
    position:sticky;
    top:0;
}

.menuHeader{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height: 30px;
    margin: 0 10px 10px 10px;
}
.products{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    padding:0 0 5% 0
}

.productItemContainer{
  padding: 0 10px;
  width: 25%;
}
.productItem{
    display: flex !important;
    align-items: center;
    flex-direction: column;
  }

  .prodPrice{
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    width: 100%;
  }

  .oldPrice{
    text-decoration-line: line-through;
    color: #868686;
  }
  .newPrice{
    font-weight: 500;
  }

  .prodName{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    line-height: 28px; /* 175% */
    letter-spacing: -0.4px;
    margin: 10px 0 0 0;
    width: 100%;
  }

  .prodImg{
    width: 100%;
    height: 100%;
  }

  .prodImgItem{
    height: 340px;
    width: 100%;
  }

  @media only screen and (max-width: 1198px) {
    .prodImgItem{
      height: 290px;
    }
  }
  @media only screen and (max-width: 1080px) {
    .prodImgItem{
      height: 260px;
    }
  }
  @media only screen and (max-width: 980px) {
    .productItemContainer{
        width: 33%
    }
    .prodImgItem{
      height:300px
    }
  }
  @media only screen and (max-width: 850px) {
    .productItemContainer{
        width: 33%
    }
    .prodImgItem{
      height:245px
    }
  }
  @media only screen and (max-width: 737px) {
    .productItemContainer{
        width: 50%
    }
    .prodImgItem{
      height:370px
    }
  }
  @media only screen and (max-width: 600px) {
    .productItemContainer{
        width: 50%
    }
    .prodImgItem{
      height:320px
    }
  }
  @media only screen and (max-width: 520px) {
    .productItemContainer{
        width: 50%
    }
    .prodImgItem{
      height:270px
    }
  }
  @media only screen and (max-width: 430px) {
    .productItemContainer{
        width: 50%
    }
    .prodImgItem{
      height:210px
    }
  }