.menu{
    width:70%;
    position:sticky;
    top:0;
}

.menuHeader{
    display:flex;
    align-items:center;
    justify-content:space-between
}
.products{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    padding: 5% 0
}
.productWrapper{
    width:32%;
    padding:1%;
    transition:.3s
}

.productWrapper:hover{
    transform:scale(1.03)
}
.wrapperItem{
    object-fit:contain;
}
.itemInfos{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:18px;
    letter-spacing:3px
}
.productItem{
    display: flex !important;
    align-items: center;
    flex-direction: column;
    margin:0 0 30px 0;
  }
  .prodImg{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prodImgItem,.prodPrice,.prodName{
    width: 230px;
  }
  .prodImgItem{
    height: 300px;
  }

  .prodPrice{
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }

  .oldPrice{
    text-decoration-line: line-through;
    color: #868686;
  }
  .newPrice{
    font-weight: 500;
  }

  .prodName{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    line-height: 28px; /* 175% */
    letter-spacing: -0.4px;
    margin: 10px 0 0 0;
  }

@media only screen and (max-width: 1336px) {
    .prodImgItem{
        width: 210px;
        height: 290px;
    }
    .prodPrice,.prodName{
        width: 210px;
    }
  }
  @media only screen and (max-width: 1315px) {
    .prodImgItem{
        width: 260px;
        height: 320px;
    }
    .prodPrice,.prodName{
        width: 260px;
    }
  }
  @media only screen and (max-width: 1133px) {
    .prodImgItem{
        width: 210px;
        height: 290px;
    }
    .prodPrice,.prodName{
        width: 210px;
    }
  }
  @media only screen and (max-width: 930px) {
    .prodImgItem{
        width: 180px;
        height: 260px;
    }
    .prodPrice,.prodName{
        width: 180px;
    }
  }
  @media only screen and (max-width: 785px) {
    .prodImgItem{
        width: 150px;
        height: 210px;
    }
    .prodPrice,.prodName{
        width: 150px;
    }
  }
  @media only screen and (max-width: 785px) {
    .prodImgItem{
        width: 150px;
        height: 210px;
    }
    .prodPrice,.prodName{
        width: 150px;
    }
  }
  @media only screen and (max-width: 645px) {
    .prodImgItem{
        width: 190px;
        height: 230px;
    }
    .prodPrice,.prodName{
        width: 190px;
    }
  }
  @media only screen and (max-width: 560px) {
    .prodImgItem{
        width: 160px;
        height: 200px;
    }
    .prodPrice,.prodName{
        width: 160px;
    }
  }
  @media only screen and (max-width: 463px) {
    .prodImgItem{
        width: 130px;
        height: 170px;
    }
    .prodPrice,.prodName{
        width: 130px;
    }
  }