.navSideButtons{
    display:flex;
    align-items:center;
    justify-content:center;
}

.item{
    margin:10px;
    position:relative;
    cursor:pointer;
    color:white;
}
.itemSecond{
    margin:10px;
    position:relative;
    cursor:pointer;
    color:black;
    display: flex;
    align-items: center;
    gap: 5px;
}
.cartAmount{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    border-radius:50%;
    width: 20px;
    height: 23px;
    font-size:14px;
    color:white;
    margin-top: 4px;
}


@media screen and (max-width: 850px) {
    .item{
        color: black;
    }
  }